@import 'reset';
@import 'mixin';

$main-border: 2px solid pink;
$main-color: blue;

#shapeExample { @include makeShape(0, 100px, 100px, $main-color); }
#circleExample { @include makeCircle(500px, yellow); }

header {
  h1 {
    color: black;
    border: $main-border
  }
}

main {
  h1 {
    color: green;
  }
  #extend {
    #one{
      font-size: 30px;
      font-style: italic;
      text-transform: uppercase;
    }
    #two {
      @extend #one;
      color:limegreen;
    }
    #three {
      @extend #two;
      border: $main-border;
      background-color: $main-color;
    }
  }
}
